<div class="relative inline-block text-left" data-controller="dots-menu">
  <div>
    <button
      data-dots-menu-target="button"
      data-action="click->dots-menu#handleToggle"
      type="button"
      class="flex w-5 justify-center rounded-full focus:outline-none"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
    >
      <span class="sr-only">Open board edit menu</span>
      <%= svg_tag 'three-dots-menu' %>
    </button>
  </div>

  <div
    data-dots-menu-target="content"
    data-transition-enter="transition ease-out duration-100"
    data-transition-enter-start="transform opacity-0 scale-95"
    data-transition-enter-end="transform opacity-100 scale-100"
    data-transition-leave="transition ease-in duration-75"
    data-transition-leave-start="transform opacity-100 scale-100"
    data-transition-leave-end="transform opacity-0 scale-95"
    class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-lg bg-white dark:bg-dark-grey shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none text-body-l text-medium-grey"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1">
    <div class="flex flex-col py-4 hover:[&>a]:bg-main-purple-hover/10 [&>a]:py-2" role="none">
      <%= yield :dots_menu_items %>
    </div>
  </div>
</div>