<% provide :page_title, 'Kanban App' %>

<%= render partial: 'shared/topbar' %>

<div class="flex flex-col items-center justify-center h-full gap-6">
  <h2 class="text-center text-heading-l text-medium-grey">
    You don't have any boards yet. Create a new one to get started.
  </h2>

  <%= link_to new_board_path, data: { turbo_frame: 'modal' }, class: 'rounded-3xl px-5 text-white bg-main-purple py-3.5 text-heading-m hover:bg-main-purple-hover' do %>
      + Create new board
  <% end %>
</div>